<app-nav></app-nav>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

<div class="modal fade" id="EditTravelPackages" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditModalLabel">{{FormTitle}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="ngSubmitForms()">

  <div class="form-group">
    <label for="Custom_Package_Name">Travel Package Name</label>
    <input type="text" class="form-control" id="Custom_Package_Name" [value]="travelPkgs?.Custom_Package_Name" formControlName="Custom_Package_Name">
  </div>
    <div class="form-group">
    <label for="Location_ID">Location</label>
      <select id="Location_ID" name="Location_ID" formControlName="Location_ID" class="form-control form-select">

        <option *ngFor="let location of locationDropdownFill" [value]="location.id">{{location.Location_Name}}</option>
    </select>
<!--    <input type="number" class="form-control" id="Location_ID" [placeholder]="travelPkgs?.Location_Name" formControlName="Location_ID">-->
  </div>
    <div class="form-group">
    <label for="Flight_ID">Flight</label>
       <select id="Flight_ID" name="Flight_ID" formControlName="Flight_ID" class="form-select form-control">
        <option *ngFor="let flights of flightDropdownFill" [value]="flights.id">{{flights.Flight_Name}}</option>
       </select>
<!--    <input type="text" class="form-control" id="Flight_ID" [value]="travelPkgs?.Flight_Name"  formControlName="Flight_ID">-->
  </div>

    <div class="form-group">
    <label for="Hotel_Rooms_ID">Hotel Room</label>
       <select id="Hotel_Rooms_ID" name="Hotel_Rooms_ID" formControlName="Hotel_Rooms_ID" class="form-select form-control">
        <option *ngFor="let hotelroom of hotelRoomDropDownFill" [value]="hotelroom.id">{{hotelroom.HotelRoom}}</option>
       </select>
<!--    <input type="text" class="form-control" id="Hotel_Rooms_ID" [value]="travelPkgs?.HotelRoom" formControlName="Hotel_Rooms_ID" required>-->
  </div>

    <div class="form-group">
    <label for="Activity_ID">Activity</label>
       <select id="Activity_ID" name="Activity_ID" formControlName="Activity_ID" class="form-select form-control">
        <option *ngFor="let activity of activityDropdownFill" [value]="activity.id">{{activity.Activity_Name}}</option>
       </select>
<!--    <input type="text" class="form-control" id="Activity_ID" [value]="travelPkgs?.Activity_Name" formControlName="Activity_ID">-->
  </div>

      <div class="form-group">
    <label for="Package_Price">Price</label>
    <input type="text" class="form-control" id="Package_Price" [value]="travelPkgs?.Package_Price" formControlName="Package_Price">
  </div>

     <div class="form-group">
    <label for="Package_Description">Details</label>
    <input type="text" class="form-control" id="Package_Description" [value]="travelPkgs?.Package_Description" formControlName="Package_Description">
  </div>

          <div class="modal-footer">

        <button type="button" (click)="closeClick()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="submit" id="submit" value="submit" class="btn btn-primary" [disabled]="!form.valid">{{ BtnTitle }}</button>
      </div>

</form>
      </div>
<!-- footer location-->
    </div>
  </div>
</div>
   <div class="container">
     <nav class="nav navbar bg-light mb-2">
  <a class="nav-link text-black"><h4><i class="bi bi-box-fill"></i> My Travel Packages</h4></a>
  </nav>
     <div class="d-flex flex-row">
       <div class="col-6">
          <input class="form-control float-start" [(ngModel)]="PackageNameFilter" placeholder="Search">
       </div>
      <div class="col-6">
         <button type="button" style="margin-bottom: 1vw" class="btn btn-primary btn-lg rounded-4 float-end" (click)="addClick()"
                data-bs-toggle="modal" data-bs-target="#EditTravelPackages">
          Add New Package
        </button>
      </div>

     </div>

<!--  <button type="button" class="btn btn-primary" routerLink="/add">Add New Package</button>-->
<table class="table border">
  <thead>
 <tr>
   <th>ID</th>
    <th>Package Name</th>
   <th>Package Price</th>
   <th>Location</th>
   <th>Flight</th>
   <th>Hotel Room</th>
   <th>Activity</th>
   <th>Description</th>
   <th colspan="3">Action</th>
 </tr>
  </thead>
  <tbody>
  <tr *ngFor="let travelpgks of TravelPkgs | filter:PackageNameFilter">
    <td>{{travelpgks.id}}</td>
    <td>{{travelpgks.Custom_Package_Name}}</td>
    <td>{{travelpgks.Package_Price}}</td>
   <td>{{travelpgks.Location_Name}}</td>
    <td>{{travelpgks.Flight_Name}}</td>
    <td>{{travelpgks.HotelRoom}}</td>
   <td>{{travelpgks.Activity_Name}}</td>
    <td>{{travelpgks.Package_Description}}</td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditTravelPackages" (click)="editClick(travelpgks.id)"><i class="bi bi-pencil-square"></i></button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteTravelPackage(travelpgks.id)" ><i class="bi bi-trash3-fill"></i></button>
    </td>
    <td>
      <button type="button" class="btn btn-info" [routerLink]="['/custom-booking',travelpgks.id]"><i class="bi bi-book"></i></button>
    </td>
  </tr>
  </tbody>
</table>

     <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h5 class="accordion-header">
      <button class="accordion-button collapsed" (click)="LoadBookingInfo()" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      <h5>My Booking</h5>
      </button>
    </h5>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <table class="table border">
  <thead>
 <tr>
   <th>ID</th>
   <th>Package Name</th>
   <th>Location</th>
    <th>First Name</th>
   <th>Last Name</th>
   <th>Email</th>
   <th>Total Price</th>
   <th>Booking Date</th>
   <th colspan="3">Action</th>
 </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bookinginfo of BookingInfo | filter:PackageNameFilter">
    <td>{{bookinginfo.id}}</td>
    <td>{{bookinginfo.Custom_Package_Name}}</td>
   <td>{{bookinginfo.Location_Name}}</td>
    <td>{{bookinginfo.First_Name}}</td>
    <td>{{bookinginfo.Last_Name}}</td>
   <td>{{bookinginfo.Email}}</td>
    <td>{{bookinginfo.Payment_Amount}}</td>
    <td>{{bookinginfo.Booking_Date}}</td>
<!--    <td>-->
<!--      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditTravelPackages" ><i class="bi bi-pencil-square"></i></button>-->
<!--    </td>-->
    <td>
      <button type="button" class="btn btn-danger" ><i class="bi bi-trash3-fill"></i></button>
    </td>
<!--    <td>-->
<!--      <button type="button" class="btn btn-info"><i class="bi bi-book"></i></button>-->
<!--    </td>-->
  </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>






