<app-nav></app-nav>
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6 text-center mb-5">
<h2 class="heading-section">User Registration</h2>
</div>
</div>
<div class="row justify-content-center">
<div class="col-md-5">

<form [formGroup]="form" (submit)="UserRegistration()" class="signin-form">
  <div class="form-group mb-3">
<label class="label" for="FirstName">First Name</label>
<input type="text" id="FirstName" formControlName="first_name" class="form-control" placeholder="First Name" required="">
</div>
  <div class="form-group mb-3">
<label class="label" for="LastName">Last Name</label>
<input type="text" id="LastName" formControlName="last_name" class="form-control" placeholder="Last Name" required="">
</div>

  <div class="form-group mb-3">
<label class="label" for="UserName">User Name</label>
<input type="text" id="UserName" formControlName="name" class="form-control" placeholder="Last Name" required="">
</div>

  <div class="form-group mb-3">
<label class="label" for="Email">Email</label>
<input type="email" id="Email" formControlName="email" class="form-control" placeholder="Email" required="">
</div>

<div class="form-group mb-3">
<label class="label" for="password">Password</label>
<input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required="">
</div>
<div class="form-group">
<button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
</div>

</form>

</div>
</div>
</div>
